<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>我的活动</title>

    <!-- Bootstrap -->
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/first.css">
        <link rel="stylesheet" href="../css/vertical-bar.css">
        <link rel="stylesheet" href="//at.alicdn.com/t/font_2374991_b4potqesf3j.css">
        <link rel="stylesheet" href="../css/active.css">
  </head>
 
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" alt="">
                我们毕业了
            </a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
           
            <li class="active"><a href="../active/active.html">活动</a></li>
            <li><a href="../service/service.html">服务</a></li> 
             
              <li><a href="../message/message_board.html">留言板</a></li> 
              <li><a href="#">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right head-name"> 
                <li><a href="cart.html">购物车 <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </a></li>
                <li><img src="../img/head.jpg" alt="" title="双击头像即可退出账号"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rain@ <span class="caret"></span>  
                      <ul class="dropdown-menu">
                        <li><a href="../head_info_down/my_active.html">我的活动</a></li>
                        <li><a href="../head_info_down/publish_active.html">发布活动</a></li>
                        <li><a href="../head_info_down/publish_plan.html">发布策划</a></li>
                        <li><a href="../head_info_down/publish_commodity.html">发布商品</a></li>
                        <li><a href="../head_info_down/my_record.html">我的日记</a></li>
                        <li><a href="../head_info_down/my_order.html">我的订单</a></li>
                        <li><a href="../head_info_down/stu_inform.html">学生信息</a></li>
                        <li><a href="../head_info_down/bus_inform.html">学生信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../../static/index.html">退出登录</a></li>
                      </ul>
                  </li> 
              </ul>
          </div>
        </div>
      </nav>    
    <div class="container">
    <div class="row"> 
      <!-- 我的活动 -->
      <div class="col-md-2 content-left hidden-xs">
            <div class="myactive-title"><span>我的活动</span></div>
            <div class="myactive_content">
              <div class="act-list">
                <div class="act-list-item clearfix">
                  <div class="col-xs-3 myact-img">
                    <img src="../img/service.jpg" alt="">
                  </div>
                  <div class="col-xs-9">
                    <!-- 活动标题 -->
                    <div class="info">
                      <h3 class="myact-title">活动一</h3>
                      <!-- 发布活动中的活动人数 -->
                      <span class="myact-men">35人</span> ·
                      <!-- 活动状态 -->
                      <span class="myact-status">正在进行中</span>
                    </div>
                  </div>                 
                </div>
                <div class="act-list-item clearfix">
                  <div class="col-xs-3 myact-img">
                    <img src="../img/service.jpg" alt="">
                  </div>
                  <div class="col-xs-9">
                    <!-- 活动标题 -->
                    <div class="info">
                      <h3 class="myact-title">活动一</h3>
                      <!-- 发布活动中的活动人数 -->
                      <span class="myact-men">35人</span> ·
                      <!-- 活动状态 -->
                      <span class="myact-status">正在进行中</span>
                    </div>
                  </div>                 
                </div>
                <div class="act-list-item clearfix">
                  <div class="col-xs-3 myact-img">
                    <img src="../img/service.jpg" alt="">
                  </div>
                  <div class="col-xs-9">
                    <!-- 活动标题 -->
                    <div class="info">
                      <h3 class="myact-title">活动一</h3>
                      <!-- 发布活动中的活动人数 -->
                      <span class="myact-men">35人</span> ·
                      <!-- 活动状态 -->
                      <span class="myact-status">正在进行中</span>
                    </div>
                  </div>                 
                </div>
              </div>

            </div>
      </div>
      <!-- 活动预览 -->
      <div class="col-md-10 content-right col-xs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#act-plan" aria-controls="photo" role="tab" data-toggle="tab">活动策划</a></li>
            <li role="presentation"><a href="#act-record" aria-controls="photo" role="tab" data-toggle="tab">活动日记</a></li>
            <li role="presentation"><button class="btn btn-warning"><a href="../record/record.html"><i class="iconfont icon-bianji"></i> 发布日记
              </a></button></li>
            </ul>
      <!-- Tab panes -->
      <div class="tab-content">
      <!--活动策划-->
      <div role="tabpanel" class="tab-pane active" id="act-plan">
        
          <div class="container-fluid damu-three"> 
              <!--活动-->
              <div class="row service-item">
                    <div class="col-md-4 text-center">
                      <div class="thumbnail">
                          <img src="../img/service.jpg" alt="...">
                          <div class="caption">
                            <h3 class="act-name">活动名称</h3>
                            <p class="act-nature">活动性质</p>
                            <button class="btn btn-primary active" data-toggle="modal" data-target="#myModal">查看详情</button>
                                <a href="#" class="btn btn-default  active" role="button">接受策划</a></p>
                          </div>
                        </div>
                    </div>
                        <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">高校定制明信片</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>活动名称：</p>
                                            <p>活动性质：</p>
                                            <p>活动班级：</p>
                                            <p>活动人数：</p>
                                            <p>联系人姓名：</p>
                                            <p>联系人电话：</p>
                                            <p>详细要求：</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <!-- <button type="button" class="btn btn-primary">提交更改</button> -->
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                    </div>
                    <div class="col-md-4 text-center">
                      <div class="thumbnail">
                          <img src="../img/service.jpg" alt="...">
                          <div class="caption">
                            <h3 class="act-name">活动名称</h3>
                            <p class="act-nature">活动性质</p>
                            <button class="btn btn-primary active" data-toggle="modal" data-target="#myModal">查看详情</button>
                                <a href="#" class="btn btn-default  active" role="button">接受策划</a></p>
                          </div>
                        </div>
                    </div>
                      <!-- 模态框（Modal） -->
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">高校定制明信片</h4>
                                      </div>
                                      <div class="modal-body">
                                          <p>活动名称：</p>
                                          <p>活动性质：</p>
                                          <p>活动班级：</p>
                                          <p>活动人数：</p>
                                          <p>联系人姓名：</p>
                                          <p>联系人电话：</p>
                                          <p>详细要求：</p>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                          <!-- <button type="button" class="btn btn-primary">提交更改</button> -->
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal -->
                     </div>
                     <div class="col-md-4 text-center">
                      <div class="thumbnail">
                          <img src="../img/service.jpg" alt="...">
                          <div class="caption">
                            <h3 class="act-name">活动名称</h3>
                            <p class="act-nature">活动性质</p>
                            <button class="btn btn-primary active" data-toggle="modal" data-target="#myModal">查看详情</button>
                                <a href="#" class="btn btn-default  active" role="button">接受策划</a>
                          </div>
                        </div>
                    </div>
                      <!-- 模态框（Modal） -->
                     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">高校定制明信片</h4>
                                      </div>
                                      <div class="modal-body">
                                          <p>活动名称：</p>
                                          <p>活动性质：</p>
                                          <p>活动班级：</p>
                                          <p>活动人数：</p>
                                          <p>联系人姓名：</p>
                                          <p>联系人电话：</p>
                                          <p>详细要求：</p>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                          <!-- <button type="button" class="btn btn-primary">提交更改</button> -->
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal -->
                     </div>
              </div>
          </div>

      </div>
      <!--活动日记-->
      <div role="tabpanel" class="tab-pane" id="act-record">
        
        <div class="container">
            <div class="row tab-down-one">
              <div class="col-md-10">
                <div class="record-list">
                  <div class="record-list-item clearfix">
                    <div class="col-xs-2">
                         <img src="../img/service.jpg" alt="">                   
                    </div>
                    <div class="col-xs-10">
                        <a href="" class="title">计算机学院计科1801班毕业活动策划</a>
                        <div class="info">
                          <p>网易VIP163邮箱是网易旗下高端邮箱品牌,是国内更安全稳定的个人商务收费邮箱、企业邮箱完美典范!独有更安全稳定的卓越系统,一对一管家服务,海外服务器全球互通,垃圾...</p>
                          <span><span class="avatar"><img src="../img/head.jpg" alt=""></span></span>
                          <!-- 发布活动学生的姓名 -->
                          <span>朱娜娜</span> ·
                          <!-- 发布活动中的活动人数 -->
                          <span>5评论</span> ·
                          <span>10分钟前</span>
                        </div>
                      </div>
                    

                  </div>
                  <div class="record-list-item clearfix">
                    <div class="col-xs-2">
                         <img src="../img/service.jpg" alt="">                   
                    </div>
                    <div class="col-xs-10">
                        <a href="" class="title">计算机学院计科1801班毕业活动策划</a>
                        <div class="info">
                          <p>网易VIP163邮箱是网易旗下高端邮箱品牌,是国内更安全稳定的个人商务收费邮箱、企业邮箱完美典范!独有更安全稳定的卓越系统,一对一管家服务,海外服务器全球互通,垃圾...</p>
                          <span><span class="avatar"><img src="../img/head.jpg" alt=""></span></span>
                          <!-- 发布活动学生的姓名 -->
                          <span>朱娜娜</span> ·
                          <!-- 发布活动中的活动人数 -->
                          <span>5评论</span> ·
                          <span>10分钟前</span>
                        </div>
                      </div>
                    

                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
      </div>

      </div>
    </div> 
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>  
    </body>
    </html>