<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>留言板</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/first.css">
    <style>
        .mes-board{
          margin-left:250px;
        }
    </style>
  </head>
  <body>
 <!--导航-->
      <!--navbar-fixed-top固定在顶部-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
      <!--<div class="container-fluid">-->  
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" alt="">
                我们毕业了
            </a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
           
            <li ><a href="../active/active.html">活动</a></li>
            <li><a href="../service/service.html">服务</a></li> 
             
              <li ><a href="../message/message_board.html">留言板</a></li> 
              <li class="active"><a href="../about/about.html">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right head-name"> 
                <li><a href="cart.html">购物车 <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </a></li>
                <li><img src="../img/head.jpg" alt="" title="双击头像即可退出账号"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rain@ <span class="caret"></span>  
                    <ul class="dropdown-menu">
                      <li><a href="../head_info_down/my_active.html">我的活动</a></li>
                      <li><a href="../head_info_down/publish_active.html">发布活动</a></li>
                      <li><a href="../head_info_down/publish_plan.html">发布策划</a></li>
                      <li><a href="../head_info_down/publish_commodity.html">发布商品</a></li>
                      <li><a href="../head_info_down/my_record.html">我的日记</a></li>
                      <li><a href="../head_info_down/my_order.html">我的订单</a></li>
                      <li><a href="../head_info_down/stu_inform.html">学生信息</a></li>
                      <li><a href="../head_info_down/bus_inform.html">学生信息</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="../../static/index.html">退出登录</a></li>
                    </ul>
                  </li> 
              </ul>
          </div>
        </div>
      </nav>
  
     <!--巨幕？-->
   <!--巨幕-->
   <div class="jumbotron homepage_jumbotron">
    <div class="container">
        <h1>我们毕业啦!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
    <!--全部留言-->
    <section id="contact-area">
      <div class="container mes-board">
          <div class="row">
              <div class="col-lg-10 offset-lg-1">
                  <div class="contact-box text-center">
                      <form id="ajax-contact" action="contact.php" method="post">
                          <div class="form-group row">
                              <div class="col-lg-6"><input type="text" class="form-control" id="name" name="name"
                                                           placeholder="姓名*" required=""></div>
                              <div class="col-lg-6"><input type="email" class="form-control" id="email" name="email"
                                                           placeholder="Email*" required=""></div>
                          </div>
                          <div class="form-group"><input type="text" class="form-control" id="subject" name="subject"
                                                         placeholder="标题"></div>
                          <div class="form-group"><textarea class="form-control" id="message" name="message" rows="10"
                                                            placeholder="留言内容*" required=""></textarea></div>
                          <button type="submit" class="btn btn-success">提 交</button>
                          <div id="form-messages"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>

        <!--版权-->
        <div class="container">
            &copy;Rain
        </div>
        
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>