<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>服务页面</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/first.css">
    <style>
   
      
      #forum .tip1 {
          margin-top: 70px;
          height:350px;
      }
  
    </style>
  </head>
 
  <body>
      <!--navbar-fixed-top固定在顶部-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" alt="">
                我们毕业了
            </a>
          </div>
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
          
            <li ><a href="../active/active.html">活动</a></li> 
            <li ><a href="../service/service.html">服务</a></li> 
              <li class="active"><a href="../message/message_board.html">留言板</a></li> 
              <li><a href="../about/about.html">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right head-name"> 
                <li><a href="cart.html">购物车 <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </a></li>
                <li><img src="../img/head.jpg" alt="" title="双击头像即可退出账号"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rain@ <span class="caret"></span>  
                      <ul class="dropdown-menu">
                        <li><a href="../head_info_down/my_active.html">我的活动</a></li>
                        <li><a href="../head_info_down/publish_active.html">发布活动</a></li>
                        <li><a href="../head_info_down/publish_plan.html">发布策划</a></li>
                        <li><a href="../head_info_down/publish_commodity.html">发布商品</a></li>
                        <li><a href="../head_info_down/my_record.html">我的日记</a></li>
                        <li><a href="../head_info_down/my_order.html">我的订单</a></li>
                        <li><a href="../head_info_down/stu_inform.html">学生信息</a></li>
                        <li><a href="../head_info_down/bus_inform.html">学生信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../../static/index.html">退出登录</a></li>
                      </ul>
                  </li> 
              </ul>
          </div>
        </div>
      </nav>
     <!-- forum -->
     <section id="forum">
      <div class="container">
          <div class="row ">
              <div class="col-md-12 col-xs-12 tip1"> 
                  <h4>留下你想说的话吧~</h4>
                <div class="contact-box text-center">
                    <form id="ajax-contact" action="contact.php" method="post">
                        <div class="form-group"><textarea class="form-control" id="message" name="message" rows="10"
                                                          placeholder="留言内容*" required="" style="height: 150px;"></textarea></div>
                        <div style="text-align: right;"><button type="submit" class="btn btn-success">提 交</button></div>
                        <div id="form-messages"></div>
                    </form>
                </div>
              </div>
              <div class="col-md-12 col-xs-12 tip3">
                <div style="background-color: white; min-height: 300px">
                    <div style="width: 100%; height: 50px; background-color: #ddd; line-height: 50px; margin:20px auto;">
                        <span style="font-weight: bold; margin-left: 20px; font-size: 16px">留言</span>
                    </div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
               
            </div>
          </div>
      </div>
  </section>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
     
    </script>
  </body>
</html>